h1 {
  font-family: sans-serif;
  color: white;
  text-align: center;
  font-size: 60px;
}
h3{
  text-align: center;
  color: white;
  font-size: 29px;
}
header{
  background-image: url('http://i.imgur.com/Ik5pmP5.jpg');
  background-size: cover;
}
body{
  background-color: rgb (37, 56, 112);
}
.hillary{
  margin: 0% 25% 0% 15%;
}
.trump{
  margin: 0% 15% 0% 15%;
}
.bernie{
  margin-left: 25%;
}
#hilllary{
  margin-left: 0%;
}
#trump{
  margin-left: 0%;
}
#bernie{
  margin-left: 0%;
}
.assignment{
  display: inline;
}
.hildog{
  margin: 0% 3% 0% 15%;
  font-size: 20px;
}
.trump{
  margin-right: 15%;
  font-size: 20px;
}
.sanders{
font-size: 20px;
}
form{
  display: block;
  text-align: center;
}
input {
  background-color: red;
  color: white;
  border-radius: 5px;
}
.playerOne{
background-color: red;
}
.playerThree{
  background-color: blue;
}
.trumpwins{
  z-index: 2;
  position: absolute;
  top: 25%;
  left: 25%
}
.berniewins{
  z-index: 2;
  position: absolute;
  top: 25%;
  left: 25%
}
.hillarywins{
  z-index: 2;
  position: absolute;
  top: 25%;
  left: 25%;
}
