h1 {
  font-family: sans-serif;
  color: white;
  text-align: center;
  font-size: 60px;
  text-shadow: 2px 2px 2px black;
}
h3{
  text-align: center;
  color: white;
  font-size: 29px;
  text-shadow: 2px 2px 2px black;
}
header{
  background-image: url('http://i.imgur.com/ecLhMvE.png');
  background-size: cover;
}
.hillary{
  margin: 0% 25% 0% 15%;
}
.trump{
  margin: 0% 15% 0% 15%;
}
.bernie{
  margin-left: 25%;
}
#clinton{
  margin-left: auto;
  z-index: 3;
}
#trump{
  margin-left: auto;
  z-index: 3;
}
#bernie{
  margin-left: auto;
  z-index: 3;
}
.assignment{
  display: inline;
}
form{
  display: block;
  text-align: center;
}
input {
  background-color: red;
  color: white;
  border-radius: 5px;
}
.playerOne{
background-color: rgb(179, 34, 52);
}
.playerThree{
  background-color: rgb(45, 59, 150);
}
.trumpwins{
  z-index: 4;
  position: absolute;
  top: 25%;
  left: 25%
}
.berniewins{
  z-index: 4;
  position: absolute;
  top: 25%;
  left: 25%
}
.hillarywins{
  z-index: 4;
  position: absolute;
  top: 25%;
  left: 25%;
}
.footer{
  positon: absolute;
  bottom: 0;
}
.instructions{
  text-align: center;
}
.finish{
  position: fixed;
  top: 223px;
  right: 0;
}
.clearfix:after{
  overflow: auto;
  display: table;
  clear: both;
}
.hildog{
  font-size: 20px;
}
.trumpster{
  font-size: 20px;
}
.sanders{
  font-size: 20px;
}
.ready{
  background-color: rgb(179, 34, 52);
  color: white;
}
.reset{
  background-color: rgb(60, 59, 110);
  color: white;
}
.buttons{
  align-items: center;
}
